

  <!--CK Editor -->
  <script src="/ckeditor/ckeditor.js"></script>

  <!-- Socket Io-->
  <script src="/libs/socket.io/socket.io.js"></script>

  <!--Jquery JS-->
  <script src="/libs/jquery-3.3.1.min.js"></script>

  <!--File pond size validate-->
  <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js">
  </script>

  <!--File pond image preview-->
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>

  <!-- File pond file encode -->
  <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>

  <!-- File pond image resize-->
  <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

  <!-- File pond file type validation -->
  <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js">
  </script>

  <!-- FIle pond mobile image orientation-->
  <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js">
  </script>

  <!-- Load FilePond library -->
  <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

  <!-- File pond jquery-->
  <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>


  <!--Bootstrap JS-->
  <script src="/libs/bootstrap.min.js"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/libs/mdb.min.js"></script>


  <!--Popper JS-->
  <script src="/libs/popper.min.js"></script>

  <!--Custom JS -->
  <script src="/js/custom.js"></script>

  </body>

  </html>