<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node JS Blogging System</title>

    <!--Normalise CSS-->
    <link rel="stylesheet" type="text/css" href="/libs/normalize.css">

    <!-- Font awesome 5.9-->
    <link rel="stylesheet" href="/libs/fontawesome/css/all.css">

    <!--Bootstrap-->
    <link rel="stylesheet" href="/libs/bootstrap.min.css">

    <!--Material Design for Bootstrap -->
    <link rel="stylesheet" href="/libs/mdb.min.css">

    <!-- Filepond stylesheet -->
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">

  <!--File pond image preview-->
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

    <!--Style css-->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">

    <!--Media Query -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">

   <script src="/libs/socket.io/socket.io.js"></script>

</head>

<body>

    