<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NODE BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#blog-nav" aria-controls="blog-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="blog-nav">

        <% if(isAuthenticated) { %>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts/add">Add Posts</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/categories/add">Add Category</a>
                </li>
        </ul>


        <span class="navbar-text white-text my-0 mr-4">
            <a href="/users/logout">Logout</a>
        </span>

        <%} else { %>
        <ul class="navbar-nav ml-auto">
            <span class="navbar-text white-text my-0 mr-4">
                <a href="/users/login">Login</a>
            </span>

            <span class="navbar-text white-text my-0 mr-5">
                <a href="/users/register">Register</a>
            </span>
        </ul>
        <%}%>
                </div>
        </div>
    </nav>



    