 <%- include('./partials/_header.ejs') %>

 <header>
     <div id="intro" class="view">

         <div class="mask rgba-black-strong">

             <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                 <div class="row d-flex justify-content-center text-center">

                     <div class="col-md-10">

                         <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Node.js Blog System</h2>

                         <hr class="hr-light">

                         <p class="white-text">Start creating blog for free by just registering your account. We have enabed the feature of live post and comment update so have more fun now onwards.</p>
                       

                         <a href="/users/register" class="btn btn-outline-white">Signup<i
                                 class="fas fa-user-plus ml-2"></i></a>

                                 <a href="/users/login" class="btn btn-outline-white">Login
                                    <i class="fas fa-user-ninja ml-2"></i></i></a>

                     </div>

                 </div>

             </div>

         </div>

     </div>

 </header>
 </div>
 </main>


 <%- include('./partials/_footer.ejs') %>